@import "./variables";

$appWindowBorder: lighten(black, 33%);

div#browser {
	font-family: $fontFamily  !important;

	// Window border
	//margin: 1px;
	margin-top: 0;
	
	// inconsistent behavior with different size windows, so disabling it.
	// might be only if desktop cale is eg. 125% on high dpi displays.
	// border: 1px solid $appWindowBorder;

	input {
		font-family: $fontFamily !important;
	}

	&.maximized, &.native {
		border-width: 0;
	}
}