@import "./variables";
#browser {
	#header {
		background-color: $kdeBgColor  !important;

		#titlebar {
			button.vivaldi {
				color: black;
				height: 30px;
				margin-top: 3px;
			}

			div.window-buttongroup {
				padding-right: 0;
				//padding-top: 3px;
				padding-top: 5px;

				>button {
					background-color: transparent;
					width: 16px;
					height: 16px;

					svg {
						display: none;
					}

					margin-right: 5px;
				}

				>button.window-minimize {
					background-image: url('./images/minimize.png');
					background-size: cover;

					&:hover {
						background-image: url('./images/minimize_hover.png');
					}
				}

				>button.window-maximize {
					background-image: url('./images/maximize.png');
					background-size: cover;

					&:hover {
						background-image: url('./images/maximize_hover.png');
					}
				}

				>button.window-close {
					background-image: url('./images/close.png');
					background-size: cover;

					&:hover {
						background-image: url('./images/close_hover.png');
					}
				}
			}
		}
		
		$borderColor: rgba(0, 0, 0, 0.25);
		#tabs-tabbar-container {
			padding-top: 5px; // original value is maybe if you use native window titlebar?
			height: $tabHeight  !important;
			//border-bottom: 1px solid $borderColor;
			margin-bottom: 1px;

			#tabs-container {
				min-height: $tabHeight;

				// Contains all tabs 
				div.resize {
					div.tab-strip {

						// Tab container element
						>span {
							margin-right: -5px;

							&:first-of-type {
								div.tab {
									border-top-left-radius: 5px !important;
									border-left: 2px solid $borderColor;

									&.active {
										border-top-left-radius: 0 !important;
										border-left: 2px solid transparent;
									}
								}
							}

							&:last-of-type {
								div.tab {
									border-top-right-radius: 5px !important;
								}
							}

							div.tab-position {
								height: $tabHeight;
								margin-right: -3px;
								width: calc(var(--Width) + 1px);

								div.tab {
									$inactiveTabBg: #cbccce;
									$accentHeight: 3px;
									$activePaddingTop: 1px;
									$inactivePaddingTop: ($accentHeight + $activePaddingTop) - 1px;
									
									border-radius: 0;
									padding-top: $inactivePaddingTop;
									color: #000;
									background-color: $inactiveTabBg;
									border-top: 1px solid $borderColor;
									border-right: 2px solid $borderColor;
									border-bottom: 1px solid $borderColor;
									transition: background-color 100ms ease;

									&:hover {
										background-color: lighten($inactiveTabBg, 5%);
									}

									&.active {
										margin-bottom: -1px;
										padding-top: $activePaddingTop;
										border-top: $accentHeight solid $accent;
										background-color: $kdeBgColor;
										border-bottom-color: transparent;
									}

									div.tab-header {
										flex: 0 0 $tabHeight;
										padding-top: 2px;
										padding-bottom: 6px;

										span.favicon {}

										span.title {
											margin-top: -1px;
										}
									}

									.tab-audio {
										top: 3px;
									}
								}
							}
						}
					}
				}
			}

			div.toolbar {
				justify-content: start;

				button {
					color: black;
					opacity: 1;
					border: 2px solid transparent;
					border-radius: $borderRadius;
					min-width: auto !important;
					min-height: auto !important;

					&:hover {
						border: 2px solid $accent;
					}
				}

				div.newtab {
					margin-left: 2px;
					button {
						margin-top: 2px;
					}
				}
			}
		}
	}
}

#browser.theme-dark {
	#header {
		background-color: $kdeBgDarkColor !important;

		#titlebar {
			button.vivaldi {
				color: $darkWhite;
				height: 30px;
				margin-top: 3px;
			}

			div.window-buttongroup {
				>button.window-minimize {
					background-image: url('./images/minimize_dark.png');

					&:hover {
						background-image: url('./images/minimize_hover_dark.png');
					}
				}

				>button.window-maximize {
					background-image: url('./images/maximize_dark.png');

					&:hover {
						background-image: url('./images/maximize_hover_dark.png');
					}
				}

				>button.window-close {
					background-image: url('./images/close_dark.png');

					&:hover {
						background-image: url('./images/close_dark_hover.png');
					}
				}
			}
		}

		#tabs-tabbar-container {
			#tabs-container {
				div.resize {
					div.tab-strip {
						>span { 
							div.tab-position {
								div.tab {
									$inactiveTabBg: darken($kdeBgDarkColor, 5%);

									color: darken(#fff, 25%);
									background-color: $inactiveTabBg;

									&:hover {
										background-color: lighten($inactiveTabBg, 10%);
									}

									&.active {
										color: darken(#fff, 10%);
										background-color: $kdeBgDarkColor;
									}
								}
							}
						}
					}
				}
			}

			div.toolbar {
				button {
					color: $darkWhite;
				}
			}
		}
	}
}