@import "./variables";

$toolbarBg: linear-gradient(180deg, rgba(222, 224, 226, 1) 0%, rgba(239, 240, 241, 1) 100%);
$toolbarBgDark: linear-gradient(180deg, #31363b, darken(#31363b, 0%));

#browser {
	#main {
		// Fix 1px gap between header and mainbar...
		margin-top: -1px;

		div.mainbar {
			div.toolbar {
				color: black;
				height: 38px;
				//background-color: #eff0f1 !important;
				background: $toolbarBg;

				div.UrlBar-AddressField {
					background-color: #fff;
					color: black;
					border-radius: $borderRadius;
					border: 1px solid rgba(0,0,0, 0.33);
					padding: 1px;
					
					// Setting this will hide history
					//overflow: hidden;
				
					&:focus-within {
						outline: none !important;
						border-color: $accent;
						border-width: 2px;
						padding: 0;
					}

					.UrlFragment--Lowlight {
						color: black;
					}
					
					.UrlFragment--Highlight {
						color: black;
					}

					div.toolbar {
						background: none !important;
						
						div.pageload {
							progress.pageload-indicator {
								opacity: 0.25;
								top: -1px;
								bottom: 0;
								height: calc(100% + 1px);
								right: 0;
								left: 0;
								border-radius: 5px;
								background-color: $accent;
							}

							&.progress-done {
								progress.pageload-indicator {
									opacity: 0;
								}
							}
						}
						
					}

					div.OmniDropdown {
						background-color: rgba(255,255,255, 0.9);
						backdrop-filter: blur(10px);
						transition: all 1000ms ease;
						color: black;

						label.OmniDropdown-Label {
							opacity: 0.75;
							font-weight: bold;
						}

						div.omni-clickable {
							&:hover {
								background-color: $accent;
								color: #fff;
							}

							&.OmniLinkItem--Highlighted {
								background-color: $accent;
							}
						}

						div.OmniLinkItem {
							span.OmniLinkItem-Url {
								padding-top: 1px;
							}
						}
					}
				}

				div.toolbar-extensions {
					height: 100%;
					background: none !important;
					margin-right: 2px;
				}

				div.button-toolbar {
					height: 100%;
					button {
						border: 2px solid transparent;
						border-radius: $borderRadius;
						&:hover {
							background-color: transparent !important;
							border: 2px solid $accent;
						}

						&[name="AccountButton"] {
							img {
								border-radius: $borderRadius;
							}
						}
					}
				}

				div.UrlBar-PrivateWindowIndicator {
					color: darken($accent, 25%);
				}
			}
		}
	}
}

#browser.theme-dark {
	#main {
		div.mainbar {
			div.toolbar {
				background: $toolbarBgDark;

				div.UrlBar-AddressField {
					$addressBarDarkBg: #1b1e20;
					background-color: $addressBarDarkBg;
					color: #fff;

					.UrlFragment--Lowlight {
						color: $darkWhite;
					}
					
					.UrlFragment--Highlight {
						color: $darkWhite;
					}

					div.OmniDropdown {
						background-color: rgba($addressBarDarkBg, 0.9);
						color: $darkWhite;

						// div.omni-clickable {
						// 	&:hover {
						// 		background-color: black;;
						// 	}

						// 	&.OmniLinkItem--Highlighted {
						// 		background-color: black;
						// 	}
						// }
					}
				}

				div.button-toolbar {
					button {
						color: $darkWhite;
					}
				}

				div.UrlBar-PrivateWindowIndicator {
					color: $accent;
				}
			}
		}
	}
}

.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput>.toolbar-group>.button-toolbar button {
	border-radius: 0 !important;
}