$accent: #3daee9;

$fontFamily: system-ui, "Noto Sans", ubuntu, sans-serif;
$tabHeight: 28px;
$kdeBgColor: #dee0e2;
$kdeBgColorLighter: #eff0f1;
$kdeBgDarkColor: #31363b;
$borderRadius: 4px;
$darkWhite: darken(#fff, 10%);
$mainToolbarBgStart: rgba(222, 224, 226, 1);
$mainToolbarBgEnd: rgba(239, 240, 241, 1);
$mainToolbarBgDarkStart: #31363b;
$mainToolbarBgDarkEnd: #31363b;